.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  padding: 8px;
  width: 200px;
  margin-bottom: 15px;
}

.chip-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.chip {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background: #e3e3e3;
  border-radius: 20px;
}
.chip-text {
  margin-right: 4px;
}
.chip-remove {
  margin-left: 6px;
  cursor: pointer;
  color: red;
}
