.card {
  border: 2px solid green;
  width: 480px;
  height: 180px;
  margin: 4px;
  display: flex;
  padding: 4px;
}

.pageCard{
  border: 2px solid pink;
  width: 380px;
  height: 160px;
  margin: 4px;
  display: flex;
}