.light-frame {
  width: 100px;
  background-color: black;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
}

.single-light {
  width: 60px;
  height: 60px;
  margin: 10px auto;
  border-radius: 50%;
  background-color: #333;
  transition: opacity 0.3s ease;
}

.red.active {
  background-color: red;
  opacity: 1;
}
.yellow.active {
  background-color: yellow;
  opacity: 1;
}

.green.active {
  background-color: green;
  opacity: 1;
}
